DRIVE_SLOW,Numeric,Distance(Inches),None, 
DRIVE_FAST,Numeric,Distance(Inches),None, 
ROTATE_TO,Numeric,Angle(Degrees),None, 
WAIT,Numeric,Time(Seconds),None, 
STOP,None, ,None, 
RESET_GYRO,None, ,None, 
BALL_INTAKE_DOWN,None, ,None, 
BALL_INTAKE_UP,None, ,None, 
BALL_OUT,None, ,None, 
BALL_STOP,None, ,None, 
DEFENSE_DESTROYER_DOWN,None, ,None, 
DEFENSE_DESTROYER_UP,None, ,None, 
CAMERA_ALIGN,None, ,None, 
