STOP,None, , , 
RESET_GYRO,None, , , 
WAIT,Numeric,Seconds, , 
ROTATE_TO,Numeric,Degrees, , 
DRIVE_SLOW,Numeric,Inches, , 
DRIVE_FAST,Numeric,Inches, , 
CAMERA_ALIGN,None, , , 
DEFENSE_DESTROYER_DOWN,None, , , 
DEFENSE_DESTROYER_UP,None, , , 
BALL_INTAKE_DOWN,None, , , 
BALL_INTAKE_UP,None, , , 
BALL_OUT,None, , , 
BALL_STOP,None, , , 
